.header{
    display: flex;
    
}
.logo{
    padding-bottom: 50px;
    max-width: 100%;
    width: 500px;
    height: 120px;
    margin-left: 160px;
    margin-top: -30px;
}
.headelements{
    
    margin-left: 70px;
    align-items: center;
    display: flex;
    justify-content: center;
    height: 40px;
}
.components{
     
    width: fit-content;
    align-items: center;
    align-content: center;
    margin-left: 50px;
    
}
.line{
    margin-top: 10px;
margin-left: 3px;
height: 35px;
    border-left: 2px solid #666666;
}
.components2{
    margin-left: 1%;
    text-align: center;
    padding-top: 10px;
    color: #0073b1;
    
    width: 100px;
    height: 30px;
    border: 2px solid #0073b1;
    border-radius: 2cm;
}
.components1{
    padding-top: 10px;
    padding-bottom: 5px;
width: 100px;
text-align: center;
border: 4px;
border-radius: 5px;
}

.section2{
    display: flex;
    padding-bottom: 0px;
    
}
.section2l{
    width: 45%;
    padding: 80px;
    padding-left: 200px;
    

   
    
}
.section2r{
    
    width: 55%;
}

.s2ldiv{

    width: 70%;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 20px;
    margin-bottom: 20px;
    height: 20px;
    border: 2px whitesmoke solid;
    border-radius: 8px;
    
    

    font-family: -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', 'Fira Sans', Ubuntu, Oxygen, 'Oxygen Sans', Cantarell, 'Droid Sans', 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Lucida Grande', Helvetica, Arial, sans-serif;
    font-size: 20px;
    font-weight: 400;
}

h1{
    font-family: -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', 'Fira Sans', Ubuntu, Oxygen, 'Oxygen Sans', Cantarell, 'Droid Sans', 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Lucida Grande', Helvetica, Arial, sans-serif;
    font-size: 40px;
    font-weight: 400;
}
.section3{
    display: flex;
    background-color: #f3f2f0;
}
.section3l{
    width: 45%;
    padding-left: 50px;
    
}
.section3la{
    margin-left: 150px;
}
.section3r{

    width: 65%;
}
h2{
    font-family: -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', 'Fira Sans', Ubuntu, Oxygen, 'Oxygen Sans', Cantarell, 'Droid Sans', 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Lucida Grande', Helvetica, Arial, sans-serif;
    font-size: 48px;
    font-weight: 200;
    color: rgba(0, 0, 0, 0.9);
}
h3{
    font-family: -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', 'Fira Sans', Ubuntu, Oxygen, 'Oxygen Sans', Cantarell, 'Droid Sans', 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Lucida Grande', Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 1.25;
    color: rgba(0, 0, 0, 0.6);
}
.section3r{
    display: flex;
    flex-direction: column;
}
.row{
    display: flex;
    
}
.coloumn{
    width: fit-content;
    border: 2px rgba(0, 0, 0, 0.6) solid;
    border-radius: 25px;
    padding: 15px;
    align-items: center;
    margin: 5px;

    color: rgba(0, 0, 0, 0.6);
    font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue","Fira Sans",Ubuntu,Oxygen,"Oxygen Sans",Cantarell,"Droid Sans","Apple Color Emoji","Segoe UI Emoji","Segoe UI Emoji","Segoe UI Symbol","Lucida Grande",Helvetica,Arial,sans-serif;
}
.section4{
    display: flex;
}
.showmore{
    color: rgba(0, 0, 0, 0.6);
    font-size: 20px;
    margin-top: 5px;

}
.arrow{
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
     
  }
  .down{
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }
  .right{
      margin-left: 210px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  }
.right1{
    margin-left: 135px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  }
  .section5{
      padding: 40px;
      display: flex;
      background-color: #f1ece5;
      padding-left: 200px;
      color: #b44526;
  }
  .postajob{
      
      width: fit-content;
      height: fit-content;
      border: 2px #196ec4 solid;
      border-radius: 30px;

      margin-left: 85px;
    margin-top: 90px;
    padding: 15px;
color: #196ec4;

font-family: -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', 'Fira Sans', Ubuntu, Oxygen, 'Oxygen Sans', Cantarell, 'Droid Sans', 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Lucida Grande', Helvetica, Arial, sans-serif;
font-weight: 600;
  }
.section6{
    display: flex;
    background-color: #f3f2f0;
}
.section6l{
    padding-left: 185px;
    padding-top: 280px;
    padding-bottom: 260px;
    font-weight: 400;
    font-size: 32px;
    line-height: 1.5;
    color: rgba(0,0,0,0.9);
}
h4{
    font-size: 40px;
    font-family: -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', 'Fira Sans', Ubuntu, Oxygen, 'Oxygen Sans', Cantarell, 'Droid Sans', 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Lucida Grande', Helvetica, Arial, sans-serif;
    color: #8f5849;
    font-weight: 50px;

}
.section6r{
    
    width: 450px;
    padding-top: 253px;
    padding-left: 90px;
}
.section7{
    display: flex;
    width: 100%;
}
.section7l{
    width: 50%;
    display: flex;
    flex-direction: column;
}
.image7l{
    margin-left: 191px;
    margin-top: 74px;
    width: 300px;
    height: 337px;
}
.findpeople{
    width: fit-content;
    border: 2px solid  rgba(0,0,0,0.9);
    border-radius: 25px;
    margin-left: 190px;
    font-size: 20px;
    font-weight: 500;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 24px;
    padding-right: 24px;
    
}
.s7ltext{
    margin-left: 190px;

}

.image7r{
   
    margin-top: 74px;
    width: 300px;
    height: 337px;
}
.choosetopic{
    width: fit-content;
    border: 1px solid  rgba(0,0,0,0.9);
    border-radius: 5px;
    font-size: 20px;
    font-weight: 400;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 24px;
    padding-right: 90px;
    
}
.section8{
    display: flex;
    justify-content: flex-end;
}

.section8a{
    margin-top: 190px;
    width: 983px;
    height: 430px;
    background-color: #f4faff;
    font-size: 40px;

    padding-top:300px ;
    

}
.chasemydream{
    margin-left: 230px;
    color: #b44526
}
.iframe{
    position: absolute;
    margin-right: 756px;
    margin-top: 361px;
}
.image2{
    max-width: 100%;
}
.image3{
    margin-top: -4px;
    max-width: 100%;
}

.section10{
    display: flex;
    justify-content: center;
    list-style: none;
    padding-right: 190px;
    background-color: #f3f2f0;
}
.logo2{
    padding-bottom: 20px;
    max-width: 100%;
    width: 175px;
    height: 80px;
    margin-left: 22px;
}
.footerli{
    margin: 60px;
    font-size: 14px;
    font-family: -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', 'Fira Sans', Ubuntu, Oxygen, 'Oxygen Sans', Cantarell, 'Droid Sans', 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Lucida Grande', Helvetica, Arial, sans-serif;

}
.lihead{
    font-weight: 600;
    margin-bottom: 10px;
}
.footer{
    display: flex;
    list-style: none;
    justify-content: space-evenly;
   
    color: rgba(0,0,0,0.9);
    padding-top: 10px;
    padding-left: 150px;
    padding-right: 150px;
   


}
.footerlogo{
    width: 64px;
    height: 40px;
}


.hv:hover{
    box-shadow: 0px 0px 5px 2px whitesmoke;
}
.hv2:hover{
    background-color: #f1ece5;
}
li:hover{
color: lightblue;
text-decoration: underline;
}





